<!doctype html>
<html lang="en" class="h-100">

<head>
    {{ template "layouts/_head.html" . }}
</head>

<body class="d-flex flex-column h-100">

    {{ template "layouts/_header.html" . }}

    <main class="flex-shrink-0 my-4">
        <div class="container text-dark">
                    <div class="container p-4 bg-white shadow">
                        {{range .BodyData.Articles}}
                        <h1>{{ .Title }}</h1>

                        <p>
                            <div>
                                <small>作者：</small>
                                <a class="btn btn-white" href="{{ .HomePage }}"
                                    target="_blank">{{ .Author }}</a>
                            </div>
                        </p>


                        <div class="d-flex">
                            <p>
                                <small title="{{ .CreatedAt.Format "2006-01-02 15:04:03" }}">发布于
                                    {{ .CreatedAt.Format "2006-01-02" }}</small>
                                |
                                <small title="{{.UpdatedAt.Format "2006-01-02 15:04:03" }}">最后更新
                                    {{ .UpdatedAt.Format "2006-01-02" }}</small>
                            </p>
                            <div class="ml-auto">
                                <a href="https://github.com/zach0zhang/blog-docs/blob/master/{{ .Category }}/{{ .Path }}.md"
                                    class="btn btn-sm btn-light" title="如果你发现本文有错误的地方，欢迎到 Github 上改正" target="_blank">
                                    <span class="iconfont icon-github"></span> 修改原文
                                </a>
                            </div>
                        </div>
                        <hr>

                        <article class="markdown-body">
                            {{ .Body | $.BodyData.MarkdownToHTML}}
                        </article>
                        {{end}}


            </div>
        </div>

    </main>


</body>

</html>
